
body {
    background-image: url(https://mobizinc.com/wp-content/uploads/2020/01/a-couple-of-people-standing-around-a-computer-at-work.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.4;
      margin: 0;
    display: block;
  }
  
  .container {
      width: 50%;
      margin: 3.125rem auto 0 auto;
    background-color: rgba(70,105,180,0.7);
    text-align: center;
    color: white;
  }
  